<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	
	<entry key="selectNotice">
		SELECT NOTICE_ID, NOTICE_TITLE, NOTICE_COMMENT, NOTICE_REGDATE
		FROM TB_NOTICE
	</entry>
	
	<entry key="selectFAQ">
		SELECT FAQ_ID, FAQ_CATEGORY, FAQ_TITLE, FAQ_COMMENT, FAQ_REGDATE, FAQ_UPDATE
		FROM TB_FAQ
	</entry>
</properties>











