<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>
	
	<entry key="wishStoreList">
		SELECT I.P_IMG1, S.SEL_STORE_NAME, S.SEL_STREET||' '||S.SEL_ADDRESS AS ADDRESS, S.SEL_TEL
		FROM TB_PRODUCT_IMG I
		RIGHT JOIN TB_WISHLIST W ON (I.P_ID = W.P_ID)
		RIGHT JOIN TB_PRODUCT P ON (W.P_ID = P.P_ID)
		RIGHT JOIN TB_SELLER S ON (P.SEL_NO = S.SEL_NO)
		WHERE W.MEM_ID = ?
	</entry>
	
</properties>











